<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Расписание на <%= @day %></h5>
    <div class="schedule">
      <!-- Пробуждение -->
      <div class="time-slot">
        <p><strong>Пробуждение:</strong> 07:00</p>
      </div>

      <!-- Кнопка для добавления задачи -->
      <div class="time-slot add-task">
        <button class="btn btn-success" onclick="openModal('<%= @day %>')">Добавить задачу</button>
      </div>

      <!-- Сон -->
      <div class="time-slot">
        <p><strong>Сон:</strong> 23:00</p>
      </div>
    </div>
  </div>
</div>
