<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Расписание на <%= @day %></h5>
    <ul class="list-group list-group-flush">
      <% @schedule.each do |task| %>
        <li class="list-group-item">
          <strong><%= task.time %>:</strong> <%= task.description %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
