.modal-overlay {
  display: none; /* По умолчанию скрыт */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Темный фон */
  z-index: 1000;
  pointer-events: none; /* Блокирует взаимодействие с фоном */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  z-index: 1001; /* Повышаем z-index для модального контента */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-slot {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.add-task {
  text-align: center;
}

.current-day {
  font-weight: bold;
  color: red;
}

.week-navigation .btn.active {
  background-color: #28a745;
  color: white;
}
